<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>

<% unless @answers == [] || @answers.nil? %>
  <h3 class="subheader">Answers</h3>
  <ul id="all_answers">
    <% @answers.each do |answer| %>
      <li><% markdown.render(answer.description)%></li>
    <% end %>
  </ul>
<% end %>
