<h3 class="subheader">Do you have an answer?</h3>
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :description, "Answer" %>
  <%= f.text_field :description %>
  <%=f.submit "Answer Question" %>
<% end %>
